<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">
        <activity
            android:name=".weather_rec_day"
            android:exported="false" />
        <activity
            android:name=".weather_rec_week"
            android:exported="false" />
        <activity
            android:name=".board_new"
            android:exported="false" />
        <activity
            android:name=".board_ex"
            android:exported="false" />
        <activity
            android:name=".board"
            android:exported="false" />
        <activity
            android:name=".clothes_mat_ex"
            android:exported="false" />
        <activity
            android:name=".clothes_mat"
            android:exported="false" />
        <activity
            android:name=".clothe_mat"
            android:exported="false"
            android:label="@string/title_activity_clothe_mat"
            android:theme="@style/Theme.Test" />
        <activity
            android:name=".Intro_page"
            android:exported="false" />
        <activity
            android:name=".home_page"
            android:exported="false" />
        <activity
            android:name=".Signup_page"
            android:exported="false" />
        <activity
            android:name=".Login_page"
            android:exported="false" />
        <activity
            android:name=".Hello_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>